# Combine traffic data in similar format

In [1]:
from glob import glob
import sets
import datetime
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
import psycopg2
import pandas as pd
import numpy as np
from collections import defaultdict

/Users/along528/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:2: DeprecationWarning: the sets module is deprecated
  from ipykernel import kernelapp as app

In [2]:
dbname = 'combined_profiling'
username = 'along528'
pswd = 'password'
## 'engine' is a connection to a database
## Here, we're using postgres, but sqlalchemy can connect to other things too.
engine = create_engine('postgresql://%s:%s@localhost/%s'%(username,pswd,dbname))
print engine.url

postgresql://along528:password@localhost/combined_profiling

In [3]:
dbname = 'combined_profiling'
username = 'along528'
pswd = 'password'
con_comb = None
con_comb = psycopg2.connect(database = dbname, user = username, host='localhost', password=pswd)

## Illinois traffic data

In [ ]:
dbname = 'traffic_stops_il'
username = 'along528'
pswd = 'password'
con_il = None
con_il = psycopg2.connect(database = dbname, user = username, host='localhost', password=pswd)

Even though we have data from 2004 - 2014, the Chicago PD reported 'Yes' for contrabandfound for every stop from 2004-2006. Since this is suspect let's just start from 2007.

In [ ]:

il_year_start = 2007 
il_year_stop = 2014
df_race_map = defaultdict(list)
for race in ['black','white']:
    for year in range(il_year_start,il_year_stop+1):
        query = """
        SELECT agencycode,agencyname,count(agencycode) AS stops_<RACE>,
        SUM(CASE WHEN searchconducted = 'Yes' THEN 1 ELSE 0 END) as searches_<RACE>,
        SUM(CASE WHEN contrabandfound = 'Yes' THEN 1 ELSE 0 END) as hits_<RACE>,
        year 
        FROM traffic_stops_<YEAR>
        WHERE race = '<RACE>'
        GROUP BY agencycode,agencyname,year
        """
        query = query.replace('<RACE>',race)
        query = query.replace('<YEAR>',str(year))
        df_race_map[race].append(pd.read_sql(query,con_il))

In [ ]:
for year in range(il_year_start,il_year_stop+1):
        query = """
        SELECT agencycode,agencyname,count(agencycode) AS stops_total,
        SUM(CASE WHEN searchconducted = 'Yes' THEN 1 ELSE 0 END) as searches_total,
        SUM(CASE WHEN contrabandfound = 'Yes' THEN 1 ELSE 0 END) as hits_total,
        year 
        FROM traffic_stops_<YEAR>
        GROUP BY agencycode,agencyname,year
        """
        query = query.replace('<YEAR>',str(year))
        df_race_map['total'].append(pd.read_sql(query,con_il))

In [ ]:
dfs={}
for key in df_race_map:
    dfs[key] = pd.concat(df_race_map[key])

In [ ]:
for key in dfs:
    print key,len(dfs[key])

In [ ]:
dfs['total']

In [ ]:
df_il = pd.DataFrame(dfs['total'])
df_il = df_il.merge(dfs['white'],how='left')
df_il = df_il.merge(dfs['black'],how='left')
df_il = df_il.fillna(0)
df_il.rename(columns=lambda x: x.replace('agencycode','agencyid'),inplace=True)
df_il

In [ ]:
df_il.to_sql('il_traffic_stops_split_by_year',engine,if_exists='replace')

In [ ]:
query = """
SELECT agencyid,
agencyname,
SUM(stops_total) as stops_total,
SUM(searches_total) as searches_total,
SUM(hits_total) as hits_total,
SUM(stops_white) as stops_white,
SUM(searches_white) as searches_white,
SUM(hits_white) as hits_white,
SUM(stops_black) as stops_black,
SUM(searches_black) as searches_black,
SUM(hits_black) as hits_black
FROM il_traffic_stops_split_by_year
GROUP BY agencyid,agencyname;
"""
df_il_integrate = pd.read_sql(query,con_comb)
df_il_integrate

In [ ]:
df_il_integrate.to_sql('il_traffic_stops_integrate_year',engine,if_exists='replace')

Should I remove those departments where there are 0 in some field? Maybe not for hits. but for searches and stops, yes

## Connecticut

In [4]:
dbname = 'traffic_stops_ct'
username = 'along528'
pswd = 'password'
con_ct = None
con_ct = psycopg2.connect(database = dbname, user = username, host='localhost', password=pswd)

In [5]:
df_race_map_ct=defaultdict(list)
for race in ['white','black']:
    query = """
        SELECT agencyname,year,count(agencyid) AS stops_<RACE>,
        SUM(CASE WHEN searchconducted = 'Yes' THEN 1 ELSE 0 END) as searches_<RACE>,
        SUM(CASE WHEN contrabandfound = 'Yes' THEN 1 ELSE 0 END) as hits_<RACE>
        FROM stops
        WHERE race = '<RACE>'
        GROUP BY agencyname,year
        """
    query = query.replace('<RACE>',race)
    df_race_map_ct[race] = pd.read_sql(query,con_ct)

In [6]:
query = """
SELECT agencyname,year,count(agencyid) AS stops_total,
SUM(CASE WHEN searchconducted = 'Yes' THEN 1 ELSE 0 END) as searches_total,
SUM(CASE WHEN contrabandfound = 'Yes' THEN 1 ELSE 0 END) as hits_total
FROM stops
GROUP BY agencyname,year
"""
df_race_map_ct['total'] = pd.read_sql(query,con_ct)

In [7]:
df_race_map_ct['black']

            agencyname  year  stops_black  searches_black  hits_black
0             Plymouth  2015           44               3           0
1               Darien  2014          427              27          17
2          New Britain  2013          162               9           6
3               Weston  2015           11               0           0
4              Milford  2014          548             112          27
5    Groton Long Point  2015            3               0           0
6               Granby  2014           81               1           1
7             Portland  2014           11               1           2
8            Naugatuck  2015          150              11           4
9           Manchester  2014          958              53          30
10              Putnam  2015           13               0           0
11      North Branford  2014           60               2           0
12           Newington  2015          201              13           3
13              Berlin  2014          639              50          10
14              Hamden  2014         2080              66           7
15         North Haven  2014          376              42           7
16         Groton Town  2014          853              29          16
17      CAPITOL POLICE  2015           14               0           0
18       South Windsor  2015           93               8           4
19             Enfield  2015          175              13           5
20                SCSU  2015          273               5           3
21          Middletown  2015          235              29          17
22          West Haven  2014          968              42           7
23          Rocky Hill  2013           66               2           2
24               Derby  2014          547              67           1
25              Easton  2014           19               0           0
26             Norwich  2014         1439             131          40
27             Clinton  2015           26               4           3
28          Bridgeport  2014         2280             319          28
29         New Milford  2014          148               6           3
..                 ...   ...          ...             ...         ...
199      South Windsor  2013           45               4           0
200           Suffield  2015            8               0           0
201           Branford  2014          334              14           1
202               ECSU  2014           23               0           1
203             Bethel  2015           70               1           0
204         Brookfield  2015           11               3           1
205            Bristol  2015          176               6           1
206            Enfield  2013           93               3           1
207          New Haven  2015         2536             281          78
208               Avon  2015           28               1           0
209             Wilton  2014          382              43           5
210       Old Saybrook  2014           93               6           1
211            Newtown  2014          525              11           4
212         Rocky Hill  2015           98               5           2
213        New Britain  2015          479              32          12
214           Simsbury  2014          209               4           0
215            Seymour  2014          225              16           1
216            Shelton  2014           43               2           0
217         Woodbridge  2015          119               7           2
218          Greenwich  2014          694              23           4
219            Redding  2014           84               3           0
220         Ridgefield  2014          265               3           0
221               CCSU  2015          149               0           0
222            Wolcott  2014           74               9           0
223               Yale  2015          120              18           6
224         New Canaan  2015           85               1           1
225          Watertown  2015           35               1           0
226             Vernon  2015          145               8           6
227          Thomaston  2015            7               0           0
228                DMV  2014          483               2           0

[229 rows x 5 columns]

In [8]:
df_ct = pd.DataFrame(df_race_map_ct['total'])
df_ct = df_ct.merge(df_race_map_ct['white'],how='left')
df_ct = df_ct.merge(df_race_map_ct['black'],how='left')
df_ct = df_ct.fillna(0)
df_ct = df_ct[df_ct['agencyname']!=0]
df_ct

,agencyname,year,stops_total,searches_total,hits_total,stops_white,searches_white,hits_white,stops_black,searches_black,hits_black
1,Plymouth,2015,845,24,6,794,21,6,44,3,0
2,New Britain,2013,1029,43,25,861,34,19,162,9,6
3,Weston,2015,143,1,1,131,1,1,11,0,0
4,Milford,2014,4358,422,142,3711,309,115,548,112,27
5,Granby,2014,1348,27,26,1258,26,25,81,1,1
6,Portland,2014,162,2,3,150,1,1,11,1,2
7,Naugatuck,2015,1555,96,36,1382,85,32,150,11,4
8,Putnam,2015,295,10,6,280,10,6,13,0,0
9,Derby,0,1,0,0,1,0,0,0,0,0
10,Berlin,2014,6925,290,60,6164,237,48,639,50,10
11,Hamden,2014,5442,110,16,3310,44,9,2080,66,7
12,North Haven,2014,3042,209,47,2635,166,40,376,42,7
13,MET DIST WATER AUTHORITY,2013,2,0,0,2,0,0,0,0,0
14,Enfield,2015,1770,42,16,1561,29,11,175,13,5
15,West Haven,2014,3870,135,17,2846,93,10,968,42,7
16,Easton,2014,434,5,0,410,5,0,19,0,0
17,Clinton,2015,685,37,20,650,33,17,26,4,3
18,Bridgeport,2014,5858,624,58,3438,297,30,2280,319,28
19,East Hartford,2013,1143,34,21,729,18,11,409,16,10
20,Monroe,2015,1602,22,12,1491,21,11,91,0,0
21,Danbury,2014,6182,363,24,5605,324,21,445,34,3
22,Windsor,2014,5896,50,24,3198,20,7,2574,30,16
23,Stamford,2015,1777,47,10,1458,36,10,259,11,0
24,Groton City,2014,2943,72,36,2342,42,23,487,30,13
25,Guilford,2014,2824,28,13,2715,27,11,60,1,1
26,UCONN,2015,798,25,16,664,22,13,71,2,2
27,Waterford,2015,2240,102,47,1895,83,41,291,15,6
28,Meriden,2015,874,85,31,702,59,20,167,26,11
29,Madison,2014,3142,29,11,3002,28,10,97,1,1
30,Waterbury,2014,2222,595,106,1517,372,67,694,220,39
...,...,...,...,...,...,...,...,...,...,...,...
206,Bethel,2015,1254,14,10,1159,13,10,70,1,0
207,New Haven,2015,5590,437,152,2960,151,72,2536,281,78
208,Avon,2015,417,6,5,375,5,5,28,1,0
209,Wilton,2014,4704,412,22,4218,364,17,382,43,5
210,Newtown,2014,10073,100,46,9362,88,42,525,11,4
211,Rocky Hill,2015,938,21,13,815,15,10,98,5,2
212,Simsbury,2014,3852,32,16,3588,28,16,209,4,0
213,Seymour,2014,3563,75,4,3286,58,3,225,16,1
214,Ridgefield,2014,7750,34,8,7287,31,8,265,3,0
215,Yale,2015,321,37,11,186,17,5,120,18,6
216,Thomaston,2015,343,15,8,330,15,8,7,0,0
217,Farmington,2014,5115,125,44,4569,114,40,409,11,4
218,State Police,2015,89584,1975,759,74882,1506,615,11237,448,138
219,New London,2015,651,67,16,493,49,13,145,17,3
220,Windsor Locks,2015,955,32,2,811,28,2,122,3,0
221,Westport,2014,7423,234,86,6550,165,66,717,64,19
222,Wallingford,2015,3995,339,151,3540,294,131,387,44,19
223,Willimantic,2014,4460,229,77,4077,194,67,337,33,10
224,Winsted,2015,239,5,7,228,3,6,9,2,1
225,Cromwell,2013,482,6,4,409,4,3,59,1,1
226,East Haven,2013,120,4,0,112,3,0,8,1,0
227,Plainfield,2015,522,13,0,500,11,0,14,1,0
228,Plainville,2015,847,59,17,776,53,14,53,6,3
229,Orange,2015,1209,13,7,943,6,5,231,7,2
230,Stonington,2014,2248,11,6,2115,9,4,88,2,2
231,East Hampton,2014,730,32,20,702,30,19,21,2,1
232,Torrington,2015,1896,20,11,1779,15,9,102,5,2
233,Hartford,2013,1,0,0,0,0,0,1,0,0
234,Wethersfield,2014,5860,351,133,4643,263,102,1111,84,31
235,Glastonbury,2014,6535,429,136,5726,367,117,543,58,19

In [9]:
df_ct.to_sql('ct_traffic_stops_split_by_year_noagencyid',engine,if_exists='replace')

In [10]:
query = """
SELECT 
agencyname,
SUM(stops_total) as stops_total,
SUM(searches_total) as searches_total,
SUM(hits_total) as hits_total,
SUM(stops_white) as stops_white,
SUM(searches_white) as searches_white,
SUM(hits_white) as hits_white,
SUM(stops_black) as stops_black,
SUM(searches_black) as searches_black,
SUM(hits_black) as hits_black
FROM ct_traffic_stops_split_by_year
GROUP BY agencyname;
"""
df_ct_integrate = pd.read_sql(query,con_comb)
df_ct_integrate = df_ct_integrate.reset_index()
#build a unique agency id 
df_ct_integrate.rename(columns=lambda x: x.replace('index','agencyid'),inplace=True)
df_ct_integrate

,agencyid,agencyname,stops_total,searches_total,hits_total,stops_white,searches_white,hits_white,stops_black,searches_black,hits_black
0,0,Manchester,5474,203,125,3937,126,78,1357,76,43
1,1,Portland,203,4,4,191,3,2,11,1,2
2,2,Granby,1978,38,34,1864,35,33,105,3,1
3,3,Milford,5200,523,207,4410,381,161,668,139,45
4,4,Darien,4944,144,62,4242,110,44,564,33,18
5,5,Derby,5000,437,18,4228,346,17,709,89,1
6,6,Easton,672,8,0,640,8,0,25,0,0
7,7,Norwich,9817,625,184,7339,433,127,2008,184,56
8,8,West Haven,4086,149,18,2997,102,11,1031,47,7
9,9,Groton Town,8100,151,83,6843,115,64,1065,35,18
10,10,Hamden,7772,149,20,4796,61,10,2900,88,10
11,11,North Haven,3428,242,54,2967,190,46,425,51,8
12,12,Berlin,8966,385,89,7965,319,76,850,61,11
13,13,North Branford,1892,22,10,1781,20,10,93,2,0
14,14,Guilford,3992,36,17,3832,35,15,86,1,1
15,15,Groton City,4090,89,42,3273,53,25,668,35,17
16,16,Windsor,8043,91,41,4404,34,13,3481,57,27
17,17,Fairfield,8194,198,100,6986,152,82,1111,46,18
18,18,Danbury,7757,497,34,6992,445,28,597,46,6
19,19,WCSU,49,1,0,40,1,0,6,0,0
20,20,Bridgeport,6553,700,69,3881,335,36,2524,357,33
21,21,New Milford,5493,104,56,5182,91,50,211,10,5
22,22,Waterbury,2673,676,131,1832,417,78,829,256,53
23,23,Madison,4124,33,13,3960,32,12,112,1,1
24,24,Middlebury,313,3,0,299,2,0,10,1,0
25,25,Ansonia,7068,165,27,5865,132,19,1139,33,8
26,26,Cheshire,7291,128,63,6626,106,55,577,22,8
27,27,West Hartford,11849,1015,600,9668,909,552,1777,102,47
28,28,Stratford,4376,297,74,2999,174,39,1339,119,34
29,29,Hartford,10980,182,64,6526,85,31,4315,96,33
...,...,...,...,...,...,...,...,...,...,...,...
74,74,Avon,1228,14,13,1103,13,13,97,1,0
75,75,New Haven,16756,1273,835,8717,438,435,7732,827,383
76,76,MET DIST WATER AUTHORITY,9,1,1,8,1,1,0,0,0
77,77,Bethel,5114,51,31,4758,45,28,259,6,3
78,78,Bristol,7426,178,66,6664,145,59,678,28,7
79,79,Brookfield,4037,35,25,3812,28,20,139,6,4
80,80,Suffield,1055,18,4,1010,17,3,35,1,1
81,81,Newtown,14221,132,59,13239,114,54,720,17,5
82,82,Old Saybrook,4371,151,83,4156,144,81,135,7,2
83,83,Wilton,5887,491,32,5259,431,24,482,54,7
84,84,ECSU,294,0,8,261,0,7,31,0,1
85,85,Branford,9301,296,44,8855,280,43,414,15,1
86,86,Ridgefield,10971,46,12,10294,43,12,406,3,0
87,87,Wolcott,1004,56,1,912,45,1,88,11,0
88,88,Redding,3217,52,3,3067,48,3,103,4,0
89,89,Greenwich,11354,190,31,10207,161,25,859,28,6
90,90,Seymour,5216,110,9,4792,90,8,348,19,1
91,91,Shelton,861,29,5,790,26,5,60,2,0
92,92,Simsbury,4831,43,21,4486,37,20,267,6,1
93,93,Westport,9648,336,128,8463,242,100,992,87,26
94,94,Norwalk,10180,774,173,7708,452,109,2362,320,63
95,95,Farmington,6425,172,64,5692,156,58,538,14,5
96,96,DMV,3493,11,3,2815,8,3,610,3,0
97,97,Glastonbury,7991,540,172,7024,465,148,660,71,24
98,98,Wethersfield,7707,467,186,6117,352,143,1467,111,43
99,99,East Hampton,821,42,29,785,39,27,29,3,2
100,100,Stonington,2960,15,8,2788,13,6,118,2,2
101,101,Trumbull,3896,131,56,3112,98,39,694,32,17
102,102,Southington,7229,25,51,6992,24,50,183,1,1
103,103,Willimantic,5353,274,92,4886,230,79,404,40,12

In [11]:
df_ct_integrate.to_sql('ct_traffic_stops_integrate_year',engine,if_exists='replace')

In [12]:
ct_id_map = df_ct_integrate[['agencyname','agencyid']].set_index('agencyname')
df_ct['agencyid'] = df_ct['agencyname'].map(ct_id_map['agencyid'])
df_ct

,agencyname,year,stops_total,searches_total,hits_total,stops_white,searches_white,hits_white,stops_black,searches_black,hits_black,agencyid
1,Plymouth,2015,845,24,6,794,21,6,44,3,0,50
2,New Britain,2013,1029,43,25,861,34,19,162,9,6,72
3,Weston,2015,143,1,1,131,1,1,11,0,0,49
4,Milford,2014,4358,422,142,3711,309,115,548,112,27,3
5,Granby,2014,1348,27,26,1258,26,25,81,1,1,2
6,Portland,2014,162,2,3,150,1,1,11,1,2,1
7,Naugatuck,2015,1555,96,36,1382,85,32,150,11,4,46
8,Putnam,2015,295,10,6,280,10,6,13,0,0,44
9,Derby,0,1,0,0,1,0,0,0,0,0,5
10,Berlin,2014,6925,290,60,6164,237,48,639,50,10,12
11,Hamden,2014,5442,110,16,3310,44,9,2080,66,7,10
12,North Haven,2014,3042,209,47,2635,166,40,376,42,7,11
13,MET DIST WATER AUTHORITY,2013,2,0,0,2,0,0,0,0,0,76
14,Enfield,2015,1770,42,16,1561,29,11,175,13,5,39
15,West Haven,2014,3870,135,17,2846,93,10,968,42,7,8
16,Easton,2014,434,5,0,410,5,0,19,0,0,6
17,Clinton,2015,685,37,20,650,33,17,26,4,3,37
18,Bridgeport,2014,5858,624,58,3438,297,30,2280,319,28,20
19,East Hartford,2013,1143,34,21,729,18,11,409,16,10,57
20,Monroe,2015,1602,22,12,1491,21,11,91,0,0,36
21,Danbury,2014,6182,363,24,5605,324,21,445,34,3,18
22,Windsor,2014,5896,50,24,3198,20,7,2574,30,16,16
23,Stamford,2015,1777,47,10,1458,36,10,259,11,0,33
24,Groton City,2014,2943,72,36,2342,42,23,487,30,13,15
25,Guilford,2014,2824,28,13,2715,27,11,60,1,1,14
26,UCONN,2015,798,25,16,664,22,13,71,2,2,32
27,Waterford,2015,2240,102,47,1895,83,41,291,15,6,31
28,Meriden,2015,874,85,31,702,59,20,167,26,11,30
29,Madison,2014,3142,29,11,3002,28,10,97,1,1,23
30,Waterbury,2014,2222,595,106,1517,372,67,694,220,39,22
...,...,...,...,...,...,...,...,...,...,...,...,...
206,Bethel,2015,1254,14,10,1159,13,10,70,1,0,77
207,New Haven,2015,5590,437,152,2960,151,72,2536,281,78,75
208,Avon,2015,417,6,5,375,5,5,28,1,0,74
209,Wilton,2014,4704,412,22,4218,364,17,382,43,5,83
210,Newtown,2014,10073,100,46,9362,88,42,525,11,4,81
211,Rocky Hill,2015,938,21,13,815,15,10,98,5,2,73
212,Simsbury,2014,3852,32,16,3588,28,16,209,4,0,92
213,Seymour,2014,3563,75,4,3286,58,3,225,16,1,90
214,Ridgefield,2014,7750,34,8,7287,31,8,265,3,0,86
215,Yale,2015,321,37,11,186,17,5,120,18,6,70
216,Thomaston,2015,343,15,8,330,15,8,7,0,0,65
217,Farmington,2014,5115,125,44,4569,114,40,409,11,4,95
218,State Police,2015,89584,1975,759,74882,1506,615,11237,448,138,64
219,New London,2015,651,67,16,493,49,13,145,17,3,62
220,Windsor Locks,2015,955,32,2,811,28,2,122,3,0,63
221,Westport,2014,7423,234,86,6550,165,66,717,64,19,93
222,Wallingford,2015,3995,339,151,3540,294,131,387,44,19,60
223,Willimantic,2014,4460,229,77,4077,194,67,337,33,10,103
224,Winsted,2015,239,5,7,228,3,6,9,2,1,56
225,Cromwell,2013,482,6,4,409,4,3,59,1,1,34
226,East Haven,2013,120,4,0,112,3,0,8,1,0,35
227,Plainfield,2015,522,13,0,500,11,0,14,1,0,53
228,Plainville,2015,847,59,17,776,53,14,53,6,3,54
229,Orange,2015,1209,13,7,943,6,5,231,7,2,52
230,Stonington,2014,2248,11,6,2115,9,4,88,2,2,100
231,East Hampton,2014,730,32,20,702,30,19,21,2,1,99
232,Torrington,2015,1896,20,11,1779,15,9,102,5,2,51
233,Hartford,2013,1,0,0,0,0,0,1,0,0,29
234,Wethersfield,2014,5860,351,133,4643,263,102,1111,84,31,98
235,Glastonbury,2014,6535,429,136,5726,367,117,543,58,19,97

In [ ]:
df_ct.to_sql('ct_traffic_stops_split_by_year',engine,if_exists='replace')

## North Carolina

In [ ]:
#already pre-processed nc data
#note that these only include those already matched to the survey data
#unlike IL and CT which have not yet been matched
dbname = 'traffic_police_combined' 
username = 'along528'
pswd = 'password'
con_nc = None
con_nc = psycopg2.connect(database = dbname, user = username, host='localhost', password=pswd)

In [ ]:
dbname = 'traffic_stops_nc'
username = 'along528'
pswd = 'password'
con_nc2 = None
con_nc2 = psycopg2.connect(database = dbname, user = username, host='localhost', password=pswd)

In [ ]:
df_nc_agency = pd.read_sql('SELECT * FROM nc_agency',con_nc2)
df_nc_agency

In [ ]:
frames_new = {}
frames_new_sumyears = {}
for tag in ["stops","hits","searches","force"]: 
    sql_query = "SELECT * FROM %s_by_race;" % (tag)
    frames_new[tag] = pd.read_sql_query(sql_query,con_nc)
    #have same column names for easily building ratios
    #frames_new[tag].rename(columns=lambda x: x.replace(tag+'_',''),inplace=True)
    frames_new[tag].rename(columns=lambda x: x.replace('agency_id','agencyid'),inplace=True)
    frames_new[tag]['agencyname'] =  frames_new[tag]['agencyid'].map(df_nc_agency['name'])
    #sum by year
    frames_new_sumyears[tag] = frames_new[tag].groupby(['agencyid']).sum().drop(['index','year'],1)
    frames_new_sumyears[tag]['agencyname'] =  frames_new[tag]['agencyid'].map(df_nc_agency['name'])

In [ ]:
df_nc = pd.concat([frames_new['stops'][['agencyid','agencyname','year',
                                        'stops_total','stops_white','stops_black']],
                   frames_new['searches'][['searches_total','searches_white','searches_black']],
                   frames_new['hits'][['hits_total','hits_white','hits_black']]],axis=1)
df_nc = df_nc.fillna(0)
df_nc

In [ ]:
df_nc.to_sql('nc_traffic_stops_split_by_year',engine,if_exists='replace')

In [ ]:
frames_new['hits']

In [ ]:
query = """
SELECT agencyid,
agencyname,
SUM(stops_total) as stops_total,
SUM(searches_total) as searches_total,
SUM(hits_total) as hits_total,
SUM(stops_white) as stops_white,
SUM(searches_white) as searches_white,
SUM(hits_white) as hits_white,
SUM(stops_black) as stops_black,
SUM(searches_black) as searches_black,
SUM(hits_black) as hits_black
FROM nc_traffic_stops_split_by_year
GROUP BY agencyid,agencyname;
"""
df_nc_integrate = pd.read_sql(query,con_comb)
df_nc_integrate

In [ ]:
df_nc_integrate.to_sql('nc_traffic_stops_integrate_year',engine,if_exists='replace')

## Combine all three

In [ ]:
df_il_integrate['agencyid'] = df_il_integrate['agencyid'].map(lambda x: "IL"+str(x))
df_il_integrate['state'] = 'IL'
df_nc_integrate['agencyid'] = df_nc_integrate['agencyid'].map(lambda x: "NC"+str(x))
df_nc_integrate['state'] = 'NC'
#already has CT tag
#df_ct_integrate['agencyid'] = df_ct_integrate['agencyid'].map(lambda x: "CT"+str(x))
df_ct_integrate['state'] = 'CT'

In [ ]:
df_comb = pd.concat([df_il_integrate,df_nc_integrate,df_ct_integrate])
df_comb

In [ ]:
df_comb.to_sql('combined_traffic_stops_integrate_year',engine,if_exists='replace')